/* Style the tab */
.tap-panel {
  overflow: hidden;
  /* background-color: #ccc; */
}

.tab-buttons {
  float: left;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
  /* background-color: #ccc; */
}

/* Style the buttons that are used to open the tab content */
.formatt-button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 1);
}

/* Change background color of buttons on hover */
.tab-buttons button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-buttons button.active {
  background-color: #ccc;
}

/* Style Tap Dropdown  */
.tab-dropdown {
  float: left;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

/* Style Dropdawn */
.tab-dropdown .dropdown {
  position: inherit;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Estilo dropdawns */
.drop-edicion button{
  background-color: rgba(20.000000707805157, 15.000000055879354, 78.00000295042992, 1);
  color: white;
  border-radius: 0;
  width: 149px;
  height: 40px;
  font-family: Roboto;
  font-size: 24px;
  text-align: left;
}

.select-edicion{
  background-color: rgba(20.000000707805157, 15.000000055879354, 78.00000295042992, 1);
  color: white;
  border-radius: 0;
  border: none;
  width: 149px;
  height: 40px;
  font-family: Roboto;
  font-size: 24px;
  text-align: left;
}

.select-dimension{
  background-color: rgba(20.000000707805157, 15.000000055879354, 78.00000295042992, 1);
  color: white;
  border-radius: 0;
  border: none;
  /* width: 467px; */
  height: 40px;
  font-family: Roboto;
  font-size: 24px;
  text-align: left;
}

.select-ordenamiento{
  background-color: rgba(20.000000707805157, 15.000000055879354, 78.00000295042992, 1);
  color: white;
  border-radius: 0;
  border: none;
  /* width: 467px; */
  height: 40px;
  font-family: Roboto;
  font-size: 24px;
  text-align: left;
}

.ei2499_40007_2499_36983 { 
	width:720px;
	height:40px;
}
.ei2499_40007_2499_36984 { 
	width:304px;
	height:40px;
	position:absolute;
}
.ei2499_40007_2554_22739 { 
	width:87px;
	height:40px;
	position:absolute;
	left:217px;
	
}
.ei2499_40007_2554_22740 { 
	color:rgba(200.00000327825546, 204.00000303983688, 204.00000303983688, 1);
	width:87px;
	height:16px;
	position:absolute;
	
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.ei2499_40007_2499_36985 { 
	width:400px;
	height:40px;
	position:absolute;
	left:320px;
	
}
.ei2499_40007_2499_36986 { 
	width:124px;
	height:40px;
	position:absolute;
	
	
}
.ei2499_40007_2499_36987 { 
	width:40px;
	height:40px;
	position:absolute;
	
	
}
.ei2499_40007_2499_36987_2494_31792 { 
	border-radius:500px;
	background-color:rgba(252.00000017881393, 224.000001847744, 221.00000202655792, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:4px;
	top:4px;
}
.ei2499_40007_2499_36988 { 
	width:80px;
	height:16px;
	position:absolute;
	left:44px;
	top:12px;
}
.ei2499_40007_2499_36989 { 
	color:rgba(200.00000327825546, 204.00000303983688, 204.00000303983688, 1);
	width:35px;
	height:16px;
	position:absolute;
	
	
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.ei2499_40007_2499_36990 { 
	width:124px;
	height:40px;
	position:absolute;
	left:128px;
	
}
.ei2499_40007_2499_36991 { 
	width:40px;
	height:40px;
	position:absolute;
	
	
}
.ei2499_40007_2499_36991_2494_31794 { 
	border-radius:500px;
	background-color:rgba(248.0000004172325, 176.00000470876694, 168.0000051856041, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:4px;
	top:4px;
}
.ei2499_40007_2499_36992 { 
	width:80px;
	height:16px;
	position:absolute;
	left:44px;
	top:12px;
}
.ei2499_40007_2499_36993 { 
	color:rgba(200.00000327825546, 204.00000303983688, 204.00000303983688, 1);
	width:58px;
	height:16px;
	position:absolute;
	
	
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.ei2499_40007_2499_36994 { 
	width:124px;
	height:40px;
	position:absolute;
	left:256px;
	
}
.ei2499_40007_2499_36995 { 
	width:40px;
	height:40px;
	position:absolute;
	
	
}
.ei2499_40007_2499_36995_2494_31796 { 
	border-radius:500px;
	background-color:rgba(243.00000071525574, 126.00000008940697, 121.00000038743019, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:4px;
	top:4px;
}
.ei2499_40007_2499_36996 { 
	width:80px;
	height:16px;
	position:absolute;
	left:44px;
	top:12px;
}
.ei2499_40007_2499_36997 { 
	color:rgba(200.00000327825546, 204.00000303983688, 204.00000303983688, 1);
	width:34px;
	height:16px;
	position:absolute;
	
	
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}