/* Style the tab */
.tap-panel-indi {
    overflow: hidden;
    /* background-color: #ccc; */
}

.tab-buttons-indi {
    float: left;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    /* background-color: #ccc; */
}

/* Style the buttons that are used to open the tab content */
.formatt-button-indi {
    background-color: rgba(243.00000071525574, 126.00000008940697, 121.00000038743019, 1);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 1);

}

/* Change background color of buttons on hover */
.tab-buttons-indi button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-buttons-indi button.active {
    background-color: rgba(243.00000071525574, 126.00000008940697, 121.00000038743019, 1);
}

/* Style the tab content */
.tabcontent-indi {
    display: none;
    padding: 6px 12px;
    border-top: none;
    animation: fadeEffect 1s;
    padding-bottom: 0;
}

.div-card-info {
    border-style: solid;
    border-color: rgba(243.00000071525574, 126.00000008940697, 121.00000038743019, 1) !important;
    border-width: medium;
    height: 392px;
    color: rgba(255, 255, 255, 1);
}

/* Style Vista REsumen */
.div-datos-resumen {
    height: 60px;
}

.div-nom-estado {
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    text-align: left;
    font-size: 20px;
    padding-left: 16px;
    padding-top: 16px;
}

.subtitle-text {
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    padding-left: 16px;

}

.info-text {
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    text-align: left;
    font-size: 16px;
    padding-left: 16px;
}

.info-descripcion {
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    text-align: left;
    font-size: 16px;
    padding-left: 16px;
}

/* Style Vista Evalaucion */
.div-datos-evaluacion {
    border-style: solid;
    border-color: rgba(243.00000071525574, 126.00000008940697, 121.00000038743019, 1) !important;
    border-width: thin;
    padding: 16px;
    
}

.div-estado-evaluacion {
    font-family: Fira Sans;
    text-align: left;
    font-size: 20px;
    margin: 0px;
}

.div-pregunta-evaluacion {
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    margin: 0px;
}

.div-respuesta-evaluacion {
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
    color: rgba(200, 204, 204, 1);;
    margin: 0px;
}

.div-buttons-fichas{
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 12px;
}

.btn-descarga {
    background-color: rgba(63.000000044703484, 51.00000075995922, 198.00000339746475, 1);
    font-family: Roboto;
    font-size: 16px;
    color: white;
    border-radius: 0px;
}

.btn-fichas {
    color: white;
    font-family: Roboto;
    font-size: 16px;
    border-radius: 0px;
}