/* Style the tab */
.tap-panel {
  overflow: hidden;
}

.tab-buttons {
  float: left;
  height: 66px; 
  padding-left: calc(var(--bs-gutter-x) * .3);
  margin-right: auto;
  margin-left: auto;
}

/* Style the buttons that are used to open the tab content */
.formatt-button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Style Tap Dropdown  */
.tab-dropdown {
  float: left;
  height: 66px;
  padding-left: calc(var(--bs-gutter-x) * .3);
  margin-right: auto;
  margin-left: auto;
}

/* Style Dropdawn */
.tab-dropdown .dropdown {
  position: inherit;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Estilo dropdawns */
.drop-edicion button{
  background-color: rgba(20.000000707805157, 15.000000055879354, 78.00000295042992, 1);
  color: white;
  border-radius: 0;
  width: 149px;
  height: 40px;
  font-family: Roboto;
  font-size: 24px;
  text-align: left;
}

.select-edicion{
  background-color: rgba(20.000000707805157, 15.000000055879354, 78.00000295042992, 1);
  color: white;
  border-radius: 0;
  border: none;
  width: 149px;
  height: 40px;
  font-family: Roboto;
  font-size: 24px;
  text-align: left;
}

.select-dimension{
  background-color: rgba(20.000000707805157, 15.000000055879354, 78.00000295042992, 1);
  color: white;
  border-radius: 0;
  border: none;
  width: 400px;
  height: 40px;
  font-family: Roboto;
  font-size: 24px;
  text-align: left;
}

.select-ordenamiento{
  background-color: rgba(20.000000707805157, 15.000000055879354, 78.00000295042992, 1);
  color: white;
  border-radius: 0;
  border: none;
  /* width: 467px; */
  height: 40px;
  font-family: Roboto;
  font-size: 24px;
  text-align: left;
}

.encabezados-lbl{
	color: rgba(200.00000327825546, 204.00000303983688, 204.00000303983688, 1);
	font-family: Roboto;
	font-size: 12px;
}

.img_size{
	width: 16px;
	height: 16px;
}

.indicador-incipiente { 
	border-radius:500px;
	background-color:rgba(252.00000017881393, 224.000001847744, 221.00000202655792, 1);
	width: 37px;
    height: 37px;
}

.indicador-intermedio { 
	border-radius:500px;
	background-color: rgba(248.0000004172325, 176.00000470876694, 168.0000051856041, 1);
	width: 37px;
    height: 37px;
}

.indicador-mayor { 
	border-radius:500px;
	background-color: rgba(243.00000071525574, 126.00000008940697, 121.00000038743019, 1);
	width: 37px;
    height: 37px;
}

.lbl-indicadores{
	color: rgba(200.00000327825546, 204.00000303983688, 204.00000303983688, 1);
	position: relative;
	font-family: Roboto;
	font-size: 10px;
	top: 12px;
	left: 12px;
}

.lbl-avance{
	color: rgba(200.00000327825546, 204.00000303983688, 204.00000303983688, 1);
	position: relative;
	font-family: Roboto;
	font-size: 10px;
	top: 12px;
	left: 12px;
}
