.panel-mapa {
    height: 535px;
}

.hexa-size {
    width: 65px;
    margin: 6px;
}

.col-p1-position {
    left: 20px;
    top: 65px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.col-p2-position {
    left: 80px;
    top: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
}
 
.col-p3-position {
    left: 140px;
    top: 65px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.col-p4-position {
    left: 200px;
    top: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.col-p5-position {
    left: 260px;
    top: 65px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.col-p6-position {
    left: 320px;
    top: 100px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.col-p7-position {
    left: 380px;
    top: 135px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.col-p8-position {
    left: 440px;
    top: 360px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.col-p9-position {
    left: 500px;
    top: 330px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.col-p10-position {
    left: 560px;
    top: 300px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.hexagon {
    width: 55px;
    height: 65px;
    margin: 5px;
    background-color: rgba(243.00000071525574, 126.00000008940697, 121.00000038743019, 1);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    transform: rotate(90deg);
}

.lbl-estado {
    top: 45px;
    left: 37px;
    z-index: 2;
    display: inline-block;
    position: absolute;
    color: rgba(21, 21, 21, 1);
    font-family: Roboto;
    size: 12px;
    margin: -25px 0 0 -25px;
    transform: rotate(270deg);
}

.lbl-cdmx {
    top: 45px;
    left: 30px;
    z-index: 2;
    display: inline-block;
    position: absolute;
    color: rgba(21, 21, 21, 1);
    font-family: Roboto;
    size: 12px;
    margin: -25px 0 0 -25px;
    transform: rotate(270deg);
}

.box {
    width: 65px;
    height: 65px;
    position: relative;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: white !important;
}

.btn-check:hover+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: white !important;
}